.card {
    position: absolute;
    width: 50px;
    height: 70px;
}

#deck{
    position: absolute;
    width: 50px;
    height: 70px;
}
.decknum{
    position: absolute;
    text-align: center;
    font-size: x-large;
    top: 0px;
    left: auto;
}
